<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhoenixJukebox.Properties.Settings.jukeboxConnectionString"
            connectionString="server=localhost;user id=root;password=prAc7ice2018!;persistsecurityinfo=True;database=jukebox"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>